@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/proximanova-bold.eot');
    src: url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold.woff') format('woff'),
         url('../fonts/proximanova-bold.ttf') format('truetype'),
         url('../fonts/proximanova-bold.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}